# obsidian
.obsidian/workspace.json
.obsidian/themes
.obsidian/plugins
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude all Notes, Clippings, Attachments
Notes/
Daily/
References/
People/
Clippings/
Attachments/